body{ 
    background-color: black;
    color: blue;
    font-family:"bai jamjuree" , sans-serif;
    display: flex;
    justify-content: center;
    aling-items: center;
    height: 700px;
    margin:0;
}
button {
    background-color: aqua;
    color: darkorchid;
    font-family: "bai jamjuree" , sans sertf;
}